@import url('https://fonts.googleapis.com/css?family=Merienda:700&display=swap');
.gallery {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
  }
  #rcorners1 {
  border-top-right-radius: 0px 0px;
  border-bottom-right-radius: 0px 0px;
  border-top-left-radius: 150px 120px;
  border-bottom-left-radius: 150px 120px;
  background: #800000;
  padding: 15px; 
  width: 130px;
  height: 55px; 
  font-family: "Merienda";
  font-size: 80%;
  font-weight: bold;
  color: white; 
    
  }
  #blankspace {
    border-top-right-radius: 0px 0px;
    border-bottom-right-radius: 0px 0px;
    border-top-left-radius: 150px 120px;
    border-bottom-left-radius: 150px 120px;
    background: white;
    padding: 15px; 
    width: 130px;
    height: 55px; 
    font-family: "Merienda";
    font-size: 120%;
    font-weight: bold;
    color: white; 
      
    }
  div.absolute {
    position: absolute;
    right: 0;
    
  }