#noverlay {
    position: fixed;
    z-index: 1000;
    margin: auto;
    background-color: rgba(158, 158, 158, 0.603);
    min-height: 100vh;
    min-width: 100vw;
    text-align: center;
}

.notifier {
    padding: 2rem;
    margin: 25vh auto;
    background-color: #790514;
    width: 400px;
    min-height: 200px;
    color: #fff !important;
    border-radius: 10px;
}

#notifyhead {
    font-size: 30px;
}

#toggles {
    display: flex;
    justify-content: center;
}

.togglenotifier {
    border: 1px solid #fff;
    border-radius: 10px;
    font-size: 15px;
    margin: 1rem 1rem;
    padding: 4px;
    width: 10rem;
    color: #fff;
}

#extln {
    background-color: #fff;
    color: #790514;
}
.togglenotifier:hover {
    cursor: pointer;
}

.extranotify h4{
    color: #fff !important;
    text-align: center;
    margin: 0;
    text-decoration: underline;
}
@media (max-width: 480px) {
    .notifier {
        padding: 0.3rem;
        width: 280px;
        min-height: 100px;
    }
    .togglenotifier {
        font-size: 10px;
        padding: 4px;
        border-radius: 5px;
    }
    #notifyhead {
        font-size: 20px;
    }
    #notification {
        font-size: 15px;
    }
    .extranotify h4{
        margin-bottom: 20px;
        font-size: 0.9rem ;
    }
}