.NewsHeading h1{
    font-weight: 800;
    font-size: 30px;
    color: #880d1e;
    letter-spacing: 0;
    text-align: left;
    margin-left: 12%;
    text-transform: uppercase;
  }
  
  @media (min-width: 1024px) {
    .NewsHeading h1 {
      font-size: 38px;
    }
  }
  