#tableformat {
  
  border-collapse: collapse;
  width: 100%;
  text-align: left;
}

#tableformat td, #tableformat th {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}
#tableformat th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #800000;
  color: white;
}


