#tableformat {
  
  border-collapse: collapse;
  width: 100%;
  text-align: left;
  table-layout: auto;
}
tr:nth-child(even) {background-color: #f2f2f2;}
#tableformat td{
  border: 1px solid #ddd;
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: justify;
  font-size: 16px;
  padding-left: 80px;
}
#tableformat th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  font-size: 16px;
  background-color: #800000;
  color: white;
  padding-left: 80px;
}

#publicationtable {
  
  border-collapse: collapse;
  width: 100%;
  text-align: justify;
  table-layout: auto;
}
tr:nth-child(even) {background-color: #f2f2f2;}
#publicationtable td{
  padding-top: 12px;
  padding-bottom: 12px;
  border: 1px solid rgb(20, 20, 20);    
  text-align: justify;
  font-size: 16px;
  padding-left: 80px;
}
#publicationtable th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: justify;
  font-size: 16px;
  background-color: #800000;
  color: white;
  padding-left: 2px;
}

