.MenuOverlay {
  background-color: #e3e4ecf5;
  color: azure;
  text-align: center;
  align-items: center;
  align-content: center;
  padding-left: auto;
  height: 100vh;
  width: 100vw;
  overflow: auto;
  z-index: 100;
}

.MenuOverlay a {
  text-decoration: none;
}

.MenuOverlayContent {
  display: grid;
}
#MenuOverlayCloseButton {
  justify-self: end;
  margin-right: 7%;
  margin-top: 4%;
  color: rgb(19, 18, 18);
}

.MenuOverlayItem {
  padding: 5% 0%;
  font-size: 16px;
  width: 100%;
  font-weight: 900;
}

.MenuOverlayItem a{
  color: #790514;
}

.MenuOverlaySubLinkGroup {
  display: grid;
  background: #790514;
}

.MenuOverlaySubLinkGroup a {
  color: #d1d2e2ee;
}

.MenuOverlaySubLinks {
  padding: 4% 0%;
  font-size: 16px;
}
.separator {
  margin: auto;
  background: #790514 !important;
  height: 1px;
  width: 10%;
}
.wseparator {
  margin: auto;
  background: #d1d2e2f5 !important;
  height: 1px;
  width: 20%;
}

#menuItem7 {
  color: #790514;
}

@media (min-width: 560px) {
  #MenuOverlayCloseButton {
    width: 22px;
  }
}

@media (min-width: 768px) {
  .MenuOverlay {
    display: none;
  }
}