.FacilitiesSection {
  padding: 30px 10px;

  padding-top: 2%;
}
.circle-icon {
    background: #ffc0c0;
    padding:30px;
    border-radius: 50%;
}

@media (min-width: 768px) {
  .FacilitiesSection {
    background-image: url("../Assets/Bg1.JPG");
    background-color: #ffffff83;
    background-size: cover;
    padding: 50px;
  }

  .FacilitiesSectionCard {
    background-color: #ffffffa8;
    overflow: hidden;
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-areas:
      "title title title title title"
      "desc desc desc desc desc"
      "one two three four five";
  }

  #FacilitySectionTitle {
    grid-area: title;
  }

  #FacilitySectionTitle h1 {
    margin-bottom: 0px;
  }

  #FacilitySectionDescription {
    grid-area: desc;
  }

  #FacilityListOne {
    grid-area: one;
  }

  #FacilityListTwo {
    grid-area: two;
  }

  #FacilityListThree {
    grid-area: three;
  }

  #FacilityListFour {
    grid-area: four;
  }
   #FacilityListFive {
    grid-area: five;
  }
}

@media (min-width: 1024px) {
  .FacilitiesSectionCard {
    padding: 5% 0%;
  }
}

@media (min-width: 1440px) {
  .FacilitiesSectionCard {
    margin: 3% 12%;
  }
}
