#HomePageNewsSection {
  background: #fff;
  height: 100%;
  overflow: hidden;
  padding: 0% 8px 0% 8px;
}
.HeadingTwo {
  text-align: left;
  padding-left: 10%;
  font-size: 30px;
}
.BigNews {
  width: 50%;
  float: left;
  padding: 0px 8px 0px 8px;
}

.NewsHeading {
  align-self: flex-start;
}

.SmallNews {
  display: table-cell;
  margin-left: 50%;
  width: 100%;
}

.SmallNewsRow {
  display: table-row;
}

.SmallNewsItem {
  padding: 2px 8px 2px 8px;
  display: table-cell;
}

.SmallNewsFirst {
  width: 50%;
}
.SmallNewsSecond {
  width: 50%;
}

@media (max-width: 400px) {
  #HomePageNewsSection {
    margin: 16px 0px 1% 0px;
  }
  
  .SmallNews {
    display: none;
  }

  .BigNews {
    width: 100%;
    padding: 0px 0px 0px 0px;
  }
}

@media (max-width: 560px) {
  #HomePageNewsSection {
    margin: 16px 0px 1% 0px;
  }
  
  .SmallNews {
    display: none;
  }

  .BigNews {
    width: 100%;
    padding: 0px 0px 0px 0px;
  }
}

@media (max-width: 768px) {
  #HomePageNewsSection {
    margin: 16px 0px 1% 0px;
  }
  
  .SmallNews {
    display: none;
  }

  .BigNews {
    width: 100%;
    padding: 0px 0px 0px 0px;
  }
}

@media (min-width: 1024px) {
}

@media (min-width: 1440px) {
}
