.dropdown {
  font-weight: 600;
  font-size: 14px;
  letter-spacing: 0;
  text-align: center;
  text-decoration: none;
  color: white;
  margin: auto 0;
}

.dropdown-content {
  text-align: left;
  display: none;
  position: absolute;
  background-color: #ffffff;
  min-width: 120px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  padding-top: -12px;
}

.dropdown-content p .patch1 {
  text-decoration: none;
  color: #000000;
  display: block;
  padding: 10px 16px !important;
  border-radius: 0px;
  text-align: left;
  margin-bottom: -6px;
  padding-bottom: -6px;
  margin-top: -12px;
  padding-top: -6px;
}

.dropdown-content p .patch1:hover {
  background-color: #880d1e;
  color: #ffffff;
  display: block;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.fillbutton {
  color: #790514;
  font-size: 20px;
  border: 3px solid #790514;
  padding: 5px;
  min-width: 100px;
}

.fillbutton:hover {
  color: #fff;
  background-color: #790514;
}

#Contactbtn {
  color: #fff;
  font-size: 20px;
  background-color: #790514;
  padding: 5px;
  font-weight: bold;
  height: 40px;
  margin: auto;
  border: 3px solid #790514;
}

#Contactbtn:hover {
  color: #790514;
  background-color: #fff;
  border: 3px solid #790514;
}

@media (min-width: 1024px) {
  .dropdown {
    font-size: 16px;
  }
}

@media (max-width: 1280px) {
  .fillbutton {
    font-size: 15px;
  }
  #Contactbtn{
    font-size: 15px;
    height: 2.2rem;
  }
}